table {
    border-collapse: collapse;
}

td, th {
    border: solid 1px black;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 150px;
    text-align: left;
    margin: 0;
    vertical-align: top;
}

td button {
    margin: auto;
    display: block;
}

div {
    margin: 10px;
}
